@charset "utf-8";

@import url("http://fonts.cdnfonts.com/css/sofia-pro");

// 1. Import initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
// 2. Set initial variables
$family-sans-serif: "Sofia Pro W03", "Helvetica", "Open Sans", sans-serif;
// 3. Set the derived variables
$primary: #f05322;
$footer-background-color: #eee;
// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

.navbar {
  backdrop-filter: saturate(180%) blur(15px);
  background-color: rgba(255, 255, 255, 0.5);
}

.blur-box {
  backdrop-filter: blur(5px);
}

#homepage-hero {
  &,
  .title,
  .subtitle {
    color: $text-invert;
  }

  .hero-body {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -5%;
      z-index: -1;

      display: block;
      background-image: url(https://www.bradtguides.com/wp-content/uploads/2020/04/Zambia.jpg);
      background-size: cover;
      width: 105%;
      height: 105%;

      filter: blur(5px) brightness(60%);
    }
  }
}

.has-text-link {
  color: blue;
  text-decoration: underline;
}

.search-navbar-item {
  input {
    width: 200px;
  }
  @media screen and (min-width: $tablet) {
    input {
      width: 150px;
    }
  }
}

.translate-navbar-item {
  @media screen and (min-width: $tablet) {
    select {
      width: 6.5em;
    }
  }
  .icon {
    color: black;
  }
}
